/* Navigation Bar Hover Style */
.navbar .nav-link:hover {
    background-color: rgb(170, 170, 170);
    color: white;
}

/* Footer Style */
html,
body {
    height: 100%;
}

footer {
    position: inherit;
    bottom: 0;
    width: 100%;
}/* Navigation Bar Hover Style */
.navbar .nav-link:hover {
    background-color: rgb(170, 170, 170);
    color: white;
}

/* Footer Style */
html,
body {
    height: 100%;
}

footer {
    position: inherit;
    bottom: 0;
    width: 100%;
}

/*Home page*/

/* Phrase Banner and Backgrounds Style*/
.home-one {
    padding: 150px;
    text-align: center;
    background: rgb(154, 148, 213);
    background: radial-gradient(circle, rgba(154, 148, 213, 1) 0%, rgba(56, 200, 154, 1) 100%);
    color: white;
    font-size: xx-large;
}

.home-two {
    padding: 150px;
    color: white;
    text-align: center;
    font-size: xx-large;
    background: rgb(183, 98, 240);
    background: linear-gradient(90deg, rgba(183, 98, 240, 1) 0%, rgba(238, 60, 60, 1) 50%, rgba(255, 171, 53, 1) 100%);
}

/* Gallery Cards Style
Size, transformation and tracition  styling of images
*/

.home-gallery {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 80%;
    height: 60vh;
    margin-left: 10%;
    margin-right: 10%;
    background: white;
    transition: 0.50s;
}

.home-gallery .box {
    position: relative;
    background: var(--img);
    background-position: center;
    background-size: cover;
    transition: 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(0) brightness(1.15);
}

.home-gallery:hover .box {
    filter: grayscale(1);
}
.home-gallery .box:hover {
    filter: grayscale(0) brightness(1.25);
}

.home-gallery:has(.one:hover) {
    grid-template-columns: 2fr 0.5fr 0.5fr 0.5fr;
}

.home-gallery:has(.two:hover) {
    grid-template-columns: 0.5fr 2fr 0.5fr 0.5fr;
}

.home-gallery:has(.three:hover) {
    grid-template-columns: 0.5fr 0.5fr 2fr 0.5fr;
}

.home-gallery:has(.four:hover) {
    grid-template-columns: 0.5fr 0.5fr 0.5fr 2fr;
}

.home-gallery .box::before {
    content: '';
    position: absolute;
    top: -1px;
    width: 100%;
    height: calc(100% + 2px);
    background: linear-gradient(white, transparent, transparent, white);
}

.home-gallery .box:nth-child(even) {
    transform: translateY(30px);
}

.home-gallery .box:nth-child(odd) {
    transform: translateY(-30px);
}

.home-gallery .box::after {

    content: attr(data-text);
    position: absolute;
    bottom: 0;
    background: white;
    color: black;
    font-size: 1em;
    font-weight: bolder;
    padding: 5px 10px;
    white-space: nowrap;
    transition: 0.5s;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    opacity: 0;
    transition-delay: 0s;
}

.home-gallery .box:hover::after {
    opacity: 1;
    bottom: -60px;
    transition-delay: 0.25s;
}

/* About Us Styles */

#about-us {
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: normal;
    margin: 10%;
}

/* Responsive Two-Column Grid Styling */
.responsive-two-column-grid {
    display: block;
}

/* Columns Styling for Responsive Grid */
.responsive-two-column-grid>* {
    min-width: fit-content;
}

/* Tablet Breakpoint Styling */
@media (min-width: 768px) {
    .responsive-two-column-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* Exhibitions Styles */
.ex-one-text {
    color: white;
    font-size:10v;
    margin-top: 50px;
    padding-top: 150px;
    margin-left: 10%;
}

/* Background Animation for Exhibition Section 1 */
#ex-bk {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Colours and Gradient transition and animation*/
.ex-background {
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
    background-size: 300% 300%;
    animation: color 25s ease-in-out infinite;
}
@keyframes color {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

/* Second Exhibition Background Styling */
.ex-bk2 {
    height: 5rem;
    width: 100%;
    margin-top: -5rem;
    background: rgb(240, 155, 98);
    background: linear-gradient(180deg, rgba(240, 155, 98, 1) 0%, rgba(222, 161, 161, 1) 48%, rgba(60, 119, 140, 1) 100%);
}

.rm-gallery {
    --s: 200px; /* control the size */
    --g: 8px;   /* control the gap */

    display: grid;
    grid: auto-flow var(--s)/repeat(2,var(--s));
    gap: var(--g);
    position: absolute;
    top: 140%;
    right: 0;
    height: 100vh; /* Make the gallery take the full height of the viewport */
}

.rm-gallery > img {
    width: 100%;
    aspect-ratio: 1;
    cursor: pointer;
    filter: grayscale();
    z-index: 0;
    transition: .25s,z-index 0s .25s;
}

.rm-gallery > img:hover {
    width: calc(200% + var(--g));
    filter: grayscale(0);
    z-index: 1;
    --_c: 50%;
    transition: .4s,z-index 0s;
}

.rm-gallery > img:nth-child(1) {
    clip-path: circle(var(--_c,55% at 70% 70%));
    place-self: start;
}

.rm-gallery > img:nth-child(2) {
    clip-path: circle(var(--_c,55% at 30% 70%));
    place-self: start end;
}

.rm-gallery > img:nth-child(3) {
    clip-path: circle(var(--_c,55% at 70% 30%));
    place-self: end start;
}

.rm-gallery > img:nth-child(4) {
    clip-path: circle(var(--_c,55% at 30% 30%));
    place-self: end;
}
