/* Navigation Bar Hover Style */
.navbar .nav-link:hover {
    background-color: rgb(170, 170, 170);
    color: white;
}

/* Footer Style */
html,
body {
    height: 100%;
}

footer {
    position: inherit;
    bottom: 0;
    width: 100%;
}/* Navigation Bar Hover Style */
.navbar .nav-link:hover {
    background-color: rgb(170, 170, 170);
    color: white;
}

/* Footer Style */
html,
body {
    height: 100%;
}

footer {
    position: inherit;
    bottom: 0;
    width: 100%;
}

/*Home page*/

/* Phrase Banner and Backgrounds Style*/
.home-one {
    padding: 150px;
    text-align: center;
    background: rgb(154, 148, 213);
    background: radial-gradient(circle, rgba(154, 148, 213, 1) 0%, rgba(56, 200, 154, 1) 100%);
    color: white;
    font-size: xx-large;
}

.home-two {
    padding: 150px;
    color: white;
    text-align: center;
    font-size: xx-large;
    background: rgb(183, 98, 240);
    background: linear-gradient(90deg, rgba(183, 98, 240, 1) 0%, rgba(238, 60, 60, 1) 50%, rgba(255, 171, 53, 1) 100%);
}

/* Gallery Cards Style
Size, transformation and tracition  styling of images
*/

.home-gallery {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 80%;
    height: 60vh;
    margin-left: 10%;
    margin-right: 10%;
    background: white;
    transition: 0.50s;
}

.home-gallery .box {
    position: relative;
    background: var(--img);
    background-position: center;
    background-size: cover;
    transition: 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(0) brightness(1.15);
}

.home-gallery:hover .box {
    filter: grayscale(1);
}
.home-gallery .box:hover {
    filter: grayscale(0) brightness(1.25);
}

.home-gallery:has(.one:hover) {
    grid-template-columns: 2fr 0.5fr 0.5fr 0.5fr;
}

.home-gallery:has(.two:hover) {
    grid-template-columns: 0.5fr 2fr 0.5fr 0.5fr;
}

.home-gallery:has(.three:hover) {
    grid-template-columns: 0.5fr 0.5fr 2fr 0.5fr;
}

.home-gallery:has(.four:hover) {
    grid-template-columns: 0.5fr 0.5fr 0.5fr 2fr;
}

.home-gallery .box::before {
    content: '';
    position: absolute;
    top: -1px;
    width: 100%;
    height: calc(100% + 2px);
    background: linear-gradient(white, transparent, transparent, white);
}

.home-gallery .box:nth-child(even) {
    transform: translateY(30px);
}

.home-gallery .box:nth-child(odd) {
    transform: translateY(-30px);
}

.home-gallery .box::after {

    content: attr(data-text);
    position: absolute;
    bottom: 0;
    background: white;
    color: black;
    font-size: 1em;
    font-weight: bolder;
    padding: 5px 10px;
    white-space: nowrap;
    transition: 0.5s;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    opacity: 0;
    transition-delay: 0s;
}

.home-gallery .box:hover::after {
    opacity: 1;
    bottom: -60px;
    transition-delay: 0.25s;
}

/* About Us Styles */

#about-us {
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: normal;
    margin: 10%;
}

/* Responsive Two-Column Grid */
.responsive-two-column-grid {
    display: block;
}

/* Exhibitions Styles */
.ex-one-text {
    color: white;
    font-size:10v;
    margin-top: 50px;
    padding-top: 150px;
    margin-left: 10%;
}

#ex-bk {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
