{% extends 'base.html' %}
{% load static %}

{% block title %}Exhibitions{% endblock %}

{% block content %}

<!-- First Exhibition Section -->
<div id="ex-bk" class="ex-background">
    <div class="ex-one-text">
        <!-- Heading for the First Exhibition -->
        <h1>What's On?</h1>
        <br>
        <br>
        <!-- Details of the First Exhibition -->
        <h3>Petteri Nikolić Hyperrealism Exhibition</h3><br>
        <p id="ex-syn"> Each stroke captures the essence of human emotion <br>
            with unprecedented precision. Nikolić's mastery <br>
            transforms canvases into living reflections, <br>
            inviting viewers to explore the profound connection <br>
            between art and reality.
        </p>
        <!-- Image Gallery for the First Exhibition -->
        <div>
            <img class="png-imgs"  src="{% static 'img\Artist1-Petteri-Nikolić\Petteri-Nikolić-img1.png' %}">
            <img class="png-imgs" src="{% static 'img\Artist1-Petteri-Nikolić\Petteri-Nikolić-img2.png' %}">
            <img class="png-imgs"  src="{% static 'img\Artist1-Petteri-Nikolić\Petteri-Nikolić-img3.png' %}">
            <img class="png-imgs" src="{% static 'img\Artist1-Petteri-Nikolić\Petteri-Nikolić-img4.png' %}">
            <img class="png-imgs" src="{% static 'img\Artist1-Petteri-Nikolić\Petteri-Nikolić-img5.png' %}">
        </div>
    </div>
</div>

<!-- Second Exhibition Section -->
<div class="ex-bk2">
    <div class="ex-one-text">
        <!-- Heading for the Second Exhibition -->
        <h1 style="font-size: 100px; text-align: center;">Coming Soon...</h1><br> <br>
        <!-- Details of the Second Exhibition -->
        <h3>Remi Sinclair "Abstract Journey</h3><br> <br>
        <p id="ex-syn" style="text-align: left;">Through bold strokes and vibrant hues, Sinclair navigates the <br>
            abstract realm, inviting contemplation and introspection. <br>
            'Abstract Journey' is a visual exploration that transcends boundaries, <br>
            a testament to the limitless possibilities within the world of abstract art.
        </p>
        <!-- Image Gallery for the Second Exhibition -->
        <div class="rm-gallery">
            <img src="{% static 'img\Artist2-Remi-Sinclair\Remi-Sinclair-img1.jpg' %}">
            <img src="{% static 'img\Artist2-Remi-Sinclair\Remi-Sinclair-img2.png' %}">
            <img src="{% static 'img\Artist2-Remi-Sinclair\Remi-Sinclair-img3.jpg' %}">
            <img src="{% static 'img\Artist2-Remi-Sinclair\Remi-Sinclair-img4.png' %}">
        </div>
    </div>
</div>

{% endblock %}