{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Heading for the home page -->
    <h1>home</h1>

    <!-- Full-width image -->
    <div class="container-fluid p-0">
        <img src="{% static 'img/banner-logo/home-page.png' %}" alt="Full-width image" style="width: 100%; height: auto;">
    </div>

    <!-- Logo section -->
    <div class="home-logo">
        <img src="{% static 'img/banner-logo/Hawthorne-logo.png' %}" alt="Hawthorne logo">
    </div>

    <!-- Section introducing the concept of discovering new artists -->
    <div class="home-one">
        <h1>Discover New Artists</h1>
    </div>

    <!-- Gallery section with images of artists -->
    <div class="home-gallery">
        <div class="box one" style="--img:url('{% static 'img/home-gallery-img/Celeste-Valencia-img.png' %}')" data-text="Celeste Valencia"></div>
        <div class="box two" style="--img:url('{% static 'img/home-gallery-img/Henrik-Bjornsson-img.jpg' %}')" data-text="Henrik Bjornsson"></div>
        <div class="box three" style="--img:url('{% static 'img/home-gallery-img/Irena-Valenki-img.jpg' %}')" data-text="Irena Valenki"></div>
        <div class="box four" style="--img:url('{% static 'img/home-gallery-img/Milo-Rosenthal-img.png' %}')" data-text="Milo Rosenthal"></div>
    </div>

    <!-- Section encouraging to reimagine the world -->
    <div class="home-two">
        <h1>Reimagine Your World</h1>
    </div>
{% endblock %}